backup/
data/
data44/
dist/
logs/
maps/
scripts/
temp/
jinxp
.pre-commit-config.yaml
.rubocop.yml
*.swp
logo.png
fly64.png
fly64.ico
R4LGTK3.iss
.DS_Store
# handle symlinks since these are files on *nix
data
scripts
.vscode
CLAUDE.md