*.lic linguist-language=Ruby

# let's gussy this up a bit for a working zip / tarball release
# first, let's ignore files we don't want in the zip
.git*            export-ignore
.claude*         export-ignore
.ruby-version    export-ignore
Gemfile*         export-ignore
/*.adoc          export-ignore
/*.toml          export-ignore
/*.yml           export-ignore
/*.yaml          export-ignore
/*.ico           export-ignore
/*.iss           export-ignore
/*.json          export-ignore
/*.md            export-ignore

# second, let's take a running stab at ignoring a directory
/spec            export-ignore
/.github         export-ignore

# third, let's ignore a file in a directory

# next up, consider normalized line endings
